---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/expand?access_token=this_is_fake&shortUrl=http://bit.ly/1ra0tQp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        { "status_code": 200, "status_txt": "OK", "data": { "expand": [ { "short_url": "http:\/\/bit.ly\/1ra0tQp", "long_url": "http:\/\/google.com\/", "user_hash": "1ra0tQp", "global_hash": "900913" } ] } }
  recorded_at: Fri, 30 Jan 2015 20:19:17 GMT
recorded_with: VCR 2.9.3
