---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/shorten?access_token=this_is_fake&longUrl=http://google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        { "status_code": 200, "status_txt": "OK", "data": { "long_url": "http:\/\/google.com\/", "url": "http:\/\/bit.ly\/1ra0tQp", "hash": "1ra0tQp", "global_hash": "900913", "new_hash": 0 } }
  recorded_at: Fri, 30 Jan 2015 20:26:42 GMT
recorded_with: VCR 2.9.3
